.toggle-section {
  display: flex;
  flex-direction: column;
  border: $colorBorder solid 1px;

  .toggle-group {
    display: grid;
    gap: $spacing-md;
    margin: $spacing-md $spacing-md;
    grid-template-columns: repeat(var(--toggle-columns), 1fr);

    &.active {
      display: none;
    }

    .toggle-item {
      cursor: pointer;
      min-width: 100px;

      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 5px;
        border: $colorBorder 5px inset;
      }

      &:hover {
        filter: brightness(1.2);
      }

      &.selected {
        filter: brightness(1.2);
        outline: 5px solid #ff9800;
        border-radius: 5px;
      }
    }
  }
}