&#placeable-tooltip {
  .note-tooltip-content {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    padding: $spacing-sm;
    max-width: 250px;

    p {
      margin: 0;
      line-height: 1.3;
      color: $color-faint;

      strong {
        color: $color-white;
        margin-right: 4px;
      }
    }
  }
}