&#placeable-tooltip {
  position: absolute;
  background: rgba($colorDark, 0.85);
  color: $colorWhite;
  padding: $spacing-sm;
  border-radius: $spacing-sm;
  border: 1px solid $colorBorder;
  box-shadow: $shadowStandard;
  font-size: $font-size-xsm;
  pointer-events: none;
  z-index: 10000;
}