.color-dark {
  color: $colorDark;
}

.color-faint {
  color: $colorFaint;
}

.color-beige {
  color: $colorBeige;
}

.color-tan {
  color: $colorTan;
}

.color-olive {
  color: $colorOlive;
}

.color-crimson {
  color: $colorCrimson;
}

.color-white {
  color: $colorWhite;
}

.color-silver {
  color: $colorSilver;
}

.color-gold {
  color: $colorGold;
}

.color-copper {
  color: $colorCopper;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.color-black {
  color: black;
}

.color-grey {
  color: grey;
}

.hover-red {
  &:hover,
  &:focus {
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.hover-green {
  &:hover,
  &:focus {
    text-shadow: 0 0 10px green;
  }
}

.highlight-green {
  text-shadow: 0 0 10px green;
}