$colorDark: #191813;
$colorFaint: #c9c7b8;
$colorBeige: #b5b3a484;
$colorTan: #7a7971;
$colorOlive: #4b4a44;
$colorCrimson: #44191A;

$colorWhite: #ffffff4d;
$colorSilver: #c0c0c04d;

$colorGold: #c7a700;
$colorSilver: #9f9f9f;
$colorCopper: #af5134;