$borderGroove: 2px groove #eeede0;
$sheetBackground: url("../../assets/imgs/background.jpg") repeat;

// Spacing
$spacing-sm: 5px;
$spacing-md: 10px;
$spacing-lg: 20px;

// Font Size
$font-size-xsm: 12px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xlg: 32px;
$font-size-xxlg: 42px;

// Typography
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$color-white: #ffffff;
$color-dark: #191813;
$color-grey: #78788a;
$color-faint: #c9c7b8;
$color-beige: #b5b3a484;
$color-tan: #7a7971;
$color-olive: #4b4a44;
$color-crimson: #44191A;

$color-gold: #ffd600;
$color-silver: #ffffff;
$color-copper: #d64c29;

$color-text: #000000;
$color-text-negative: invert-color($color-text);

$color-background: #ffffff;
$color-background-accent: #c8c8c8;
$color-panel: rgba(255, 255, 255, 0.1);
$color-panel-accent: rgba(130, 130, 130, 0.2);
$color-panel-info: rgba(130, 130, 130, 0.3);
$color-border: #8c8c8c;
$color-disabled: #969696;
$color-transparent: #ffffff00;

$color-background-negative: invert-color($color-background);
$color-panel-negative: invert-color($color-panel);
$color-panel-accent-negative: invert-color($color-panel-accent);
$color-border-negative: invert-color($color-border);

$color-malus: #c80000;
$color-bonus: #00c800;

$color-action: #ff0000;
$color-info: #00ff00;
$color-ready: #c8ffc8;
$color-unavailable: #ffdfe5;
$color-warning: #c8c800;

$color-health: #b40000;
$color-stamina: #48b400;
$color-mana: #0099b4;
$color-destiny: #ff00ff;
$color-xp: #969600;

// Shadows
$shadow-standard: 0 0 5px rgba(0, 0, 0, 0.5);