$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */

$colorWhite: #ffffff4d;
$colorSilver: #c0c0c04d;

$borderGroove: 2px groove #eeede0;
$sheetBackground: url("ui/parchment.jpg") repeat;

/* ----------------------------------------- */
/*  Colors                                   */
/* ----------------------------------------- */

$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;