$borderGroove: 2px groove #eeede0;
$sheetBackground: url("../../assets/imgs/background.jpg") repeat;

// Sizes
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

// Colors
$colorWhite: #ffffff;
$colorDark: #191813;
$colorGrey: #78788a;
$colorFaint: #c9c7b8;
$colorBeige: #b5b3a484;
$colorTan: #7a7971;
$colorOlive: #4b4a44;
$colorCrimson: #44191A;

$colorGold: #c7a700;
$colorSilver: #9f9f9f;
$colorCopper: #af5134;

$colorText: #ffffff;
$colorTextAlt: #000000;

$colorPrimary: #ffffff;
$colorSecondary: #f0f0f0;
$colorTertiary: #e0e0e0;

$colorPrimaryAlt: #1a1a1a;
$colorSecondaryAlt: #2d2d2d;
$colorTertiaryAlt: #4d4d4d;


$colorAction: #ff0000;
$colorInfo: #009602;
$colorWarning: #969600;

$colorHealth: #ff4c4c;
$colorStamina: #4caf50;
$colorMana: #2196f3;
$colorDestiny: #ff00ff;
$colorXP: #969600;

// Typography
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;