<section class="scroll-hidden grid grid-12col">
    <!-- Left column : Listing characteristics -->
    <div class="characteristics grid-span-2">
        {{> "systems/pl1e/templates/actor/components/characteristics.hbs"}}
    </div>
    <!-- Middle column -->
    <div class="grid-span-4">
        {{> "systems/pl1e/templates/actor/components/skills.hbs"}}
    </div>
    <!-- Right column -->
    <div class="attributes scroll-auto grid-span-6">
        {{> "systems/pl1e/templates/actor/components/attributes-general.hbs"}}
        {{> "systems/pl1e/templates/actor/components/attributes-reductions.hbs"}}
        {{> "systems/pl1e/templates/actor/components/attributes-misc.hbs"}}
    </div>
</section>