<section class="scroll-auto">
    {{> "systems/pl1e/templates/actor/components/features-background-row.hbs" }}
    {{> "systems/pl1e/templates/actor/components/features-features-row.hbs" }}
    {{> "systems/pl1e/templates/actor/components/features-abilities.hbs" }}
    {{> "systems/pl1e/templates/actor/components/features-effects.hbs" }}
</section>