<section class="scroll-auto">
    {{> "systems/pl1e/templates/actor/components/items-weapons.hbs" }}
    {{> "systems/pl1e/templates/actor/components/items-wearables.hbs" }}
    {{> "systems/pl1e/templates/actor/components/items-consumables.hbs" }}
    {{> "systems/pl1e/templates/actor/components/items-commons.hbs" }}
    {{> "systems/pl1e/templates/actor/components/items-modules.hbs" }}
</section>