<section class="scroll-auto">
    {{> "systems/pl1e/templates/actor/components/features-restricted.hbs" featureType="race" title="PL1E.Race"}}
    {{> "systems/pl1e/templates/actor/components/features-restricted.hbs" featureType="class" title="PL1E.Class"}}
    {{> "systems/pl1e/templates/actor/components/features-restricted.hbs" featureType="faith" title="PL1E.Faith"}}
    {{> "systems/pl1e/templates/actor/components/features-restricted.hbs" featureType="trait" title="PL1E.Trait"}}
</section>