<section class="scroll-auto">
    {{#if game.user.isGM}}
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.UnlimitedItems"}}</label>
            <input type="checkbox" name="system.general.unlimitedItems" {{checked system.general.unlimitedItems}} data-dtype="Boolean"/>
        </div>
    {{/if}}
    {{> "systems/pl1e/templates/actor/components/items-weapons.hbs" }}
    {{> "systems/pl1e/templates/actor/components/items-wearables.hbs" }}
    {{> "systems/pl1e/templates/actor/components/items-consumables.hbs" }}
    {{> "systems/pl1e/templates/actor/components/items-commons.hbs" }}
</section>