<section class="scroll-hidden grid grid-12col">
    <!-- Left column -->
    <div class="grid-span-4">
        {{> "systems/pl1e/templates/actor/components/skills.hbs"}}
    </div>
    <!-- Middle column -->
    <div class="scroll-auto grid-span-4">
        {{> "systems/pl1e/templates/actor/components/features-features.hbs" }}
        {{> "systems/pl1e/templates/actor/components/features-abilities.hbs" }}
        {{> "systems/pl1e/templates/actor/components/items-weapons.hbs" }}
        {{> "systems/pl1e/templates/actor/components/items-wearables.hbs" }}
        {{> "systems/pl1e/templates/actor/components/items-consumables.hbs" }}
        {{> "systems/pl1e/templates/actor/components/items-commons.hbs" }}
        {{> "systems/pl1e/templates/actor/components/features-effects.hbs" }}
    </div>
    <!-- Right column -->
    <div class="attributes scroll-auto grid-span-4">
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Templates"}}</legend>
            <div class="form-group attribute">
                <select name="system.general.NPCTemplate">
                    {{selectOptionsWithLabel (config "NPCTemplates") selected=system.general.NPCTemplate localize=true}}
                </select>
            </div>
            <div class="form-group attribute">
                <select name="system.general.experienceTemplate">
                    {{selectOptionsWithLabel (config "experienceTemplates") selected=system.general.experienceTemplate localize=true}}
                </select>
            </div>
        </fieldset>
        {{> "systems/pl1e/templates/actor/components/attributes-general.hbs"}}
        {{> "systems/pl1e/templates/actor/components/attributes-reductions.hbs"}}
        {{> "systems/pl1e/templates/actor/components/attributes-misc.hbs"}}
    </div>
</section>