<div class="favorites-container scroll-auto">
    <div class="vertical-content flex-shrink">
        {{#if (eq actor.type "npc")}}
            <h3 class="align-left">{{localize "PL1E.Parameters"}}</h3>
            <div class="form-group attribute">
                <select name="system.general.NPCTemplate">
                    {{customSelectOptions (config "NPCTemplates") selected=system.general.NPCTemplate localize=true}}
                </select>
            </div>
        {{/if}}
    </div>
</div>