{{#if (eq actor.type "npc")}}
    <div class="vertical-content flex-shrink">
        <h3 class="align-left">{{localize "PL1E.Parameters"}}</h3>
        <div class="form-group attribute">
            <select name="system.general.NPCTemplate">
                {{customSelectOptions (config "NPCTemplates") selected=system.general.NPCTemplate localize=true}}
            </select>
        </div>
    </div>
{{/if}}
{{> "systems/pl1e/templates/actor/components/inventory-weapons.hbs" favoriteDisplay=true}}
{{> "systems/pl1e/templates/actor/components/inventory-wearables.hbs" favoriteDisplay=true}}
{{> "systems/pl1e/templates/actor/components/inventory-consumables.hbs" favoriteDisplay=true}}
{{> "systems/pl1e/templates/actor/components/abilities.hbs" favoriteDisplay=true}}