<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    <h1 class="kanka-action-row">
        <span>Uirsgeul</span>
        <a href="https://kanka.io/en/campaign/85540/locations/509970" target="_blank">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhZJREFUeNq8lz9Lw0AYxnNx6FIXQaj/wIqiSBEEBauIuFhw6uIggtBVBL+Ao19AENeig4uTi6iLi2hVHIQWUaEdNKgUXGzFhtL4XLAhppf07tr04KB98977e3je5HIhhmEoMmP/VguUvkoz+FkMtAfyq5M9WZk6REYA4P2FfCFnjwU7g1MQcS1aS5WAR51wOhBL4dqcrw4AMApQxisHTszCiYumCwC8G3CNJxciIhCRaVoL/npeA19bHDYnox1prIk3xQEUCqHgGwtuH7vHjywnQnDiQ9oBwHt54G4xrH2nrZMSgIXjKPDCA6ojQqNPjlALsCCMhVkROEc7omhHqq4DgPd5wedjSXM6hz3u4sQVasc8HUDCEBKfWHAW9Pw0YcFZ11ycWIETBzUCAB8B/MG54HD7UmlkLG1Ms0QMQETOagHgY37A3WrQFtNd1XRg7+Z1EIFnP+AcTiyr+rce9hvOqkkIUco/5ayqGEqb33BWbXrvVSqVLurASSvgLIZe1I/oPWD+SW6eGUprB0lsLSgqHgcr0Er4v51QVsS9dmdOWTjlqs5dzSnCDWCP8+Q4a1d5KmtrrSZWCzgLsYBuObY4YXBqX0b1nPCy3EMwE+56HhBth6jt3Eeyjsi6tW80erd/pnfEj2S2RcQPONepWFIEF5z7WC4oghsu9GnGKUIILvxtWEeEMFzq49QhYgIzLgun41eAAQBhzVpOLVfA0wAAAABJRU5ErkJggg=="
                 alt="Open in Kanka" title="Open in Kanka">
        </a>
        <button data-action="refresh" class="kanka-button write-action">
            <i class="fas fa-sync"></i> Refresh
        </button>
    </h1>

    <nav class="tabs" data-group="primary-tabs">
        <a class="item active" data-tab="story">
            Overview

        </a>
        <a class="item" data-tab="children">
            Locations
            <span class="counter">38</span>
        </a>

    </nav>

    <section class="tab-container -scrollable">
        <div class="tab -scrollable active" data-tab="story" data-group="primary-tabs">
            <div class="image-column"><img
                    src="https://images.kanka.io/user/Ts1cPi94q90-Lbh7oq4dBHBPa54=/smart/src/locations%2F5WZ4sFuCph8vmgZ8vB9c4v9LuPIibbnTxoSfIWUl.png"
                    alt=""></div>

            <dl class="kanka-grid">
                <dt>Type</dt>
                <dd>Capitale</dd>

                <dt class="">Culture</dt>
                <dd><a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                       data-entity="JournalEntry" data-id="OImaZy0GG98DOVhH"><i class="fas fa-book-open"></i>
                    Caernate</a></dd>


                <dt class="">Faction</dt>
                <dd><a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                       data-entity="JournalEntry" data-id="8ZHM22oAZuMpuG2v"><i class="fas fa-book-open"></i> Royaume de
                    Firmhora</a></dd>


                <dt class="">Traduction</dt>
                <dd>Légende</dd>


                <dt class="">Race</dt>
                <dd><a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                       data-entity="JournalEntry" data-id="qi73tCmXMqCvTzBl"><i class="fas fa-book-open"></i> Humain</a>,
                    <a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                       data-entity="JournalEntry" data-id="8w7odYHpyvkVm0WW"><i class="fas fa-book-open"></i> Elfe</a>
                </dd>


                <dt class="">Régent</dt>
                <dd><a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                       data-entity="JournalEntry" data-id="IGuC9BOSidjU5f08"><i class="fas fa-book-open"></i> Dèanadair</a>
                </dd>
            </dl>

            <p>
                <span>Uirsgeul est une grande et importante cité des contrés Caernate, capitale du royaume de&nbsp;</span><a
                    class="entity-link content-link" draggable="true" data-type="JournalEntry"
                    data-entity="JournalEntry" data-id="8ZHM22oAZuMpuG2v"><i class="fas fa-book-open"></i> Royaume de
                Firmhora</a><span>&nbsp;et limitrophe avec les terres Elfes, elle représente un parfait exemple de cohabitation inter-espèce car une grande partie est habité par des humains tout en disposant de plusieurs quartiers elfiques.</span><br>
            </p>
            <p>Cette cité est ampli de légendes et mythes liée à l'<a class="entity-link content-link" draggable="true"
                                                                      data-type="JournalEntry"
                                                                      data-entity="JournalEntry"
                                                                      data-id="YMaCmAl1xytwSuQR"><i
                    class="fas fa-book-open"></i> Ancien Peuple</a>, races alliées aux elfes et sous leur protections
                depuis des temps immémoriaux, légendes englobant existences de créatures rares aux pouvoirs incroyables,
                phénomènes magiques étranges et autres singularité incompréhensible par bien des humains.&nbsp;</p>
            <p>Les tensions entre sympathisants des non-humains et xénophobe fanatiques sont monnaie courante et mène
                souvent à des guerre intestines et intrigues politiques des plus dangereuse pour qui prendrai le risque
                de s'en mêler.</p>
            <p>Siège des&nbsp;<u><a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                                    data-entity="JournalEntry" data-id="zEZZXCokmMHfgD3U"><i
                    class="fas fa-book-open"></i> Templiers Blanc</a></u>, Uirsgeul est le théâtre de persécutions
                religieuse et raciales pouvant basculer le destin de la cité pour toujours.</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>

            <details class="kanka-details kanka-card " open="">
                <summary class="kanka-card-header">Economie</summary>
                <div class="kanka-card-content"><p>L'économie de&nbsp;<a class="entity-link content-link"
                                                                         draggable="true" data-type="JournalEntry"
                                                                         data-entity="JournalEntry"
                                                                         data-id="9ZduxFwLhM7sNwDB"><i
                        class="fas fa-book-open"></i> Uirsgeul</a>&nbsp;est principalement centrée sur le commerce,
                    l'agriculture, ainsi que l'artisanat de haute qualité. Les bois environnement bénéficie d'une
                    certaine protection due au accords avec les elfes de la&nbsp;<a class="entity-link content-link"
                                                                                    draggable="true"
                                                                                    data-type="JournalEntry"
                                                                                    data-entity="JournalEntry"
                                                                                    data-id="WUDTQhcGhxTrR9i7"><i
                            class="fas fa-book-open"></i> Forêt Jaune</a>&nbsp;en échange de laquelle de très nombreuses
                    ressources alchimiques participent à faire de cette ville un véritable havre pour tout les amateurs
                    de potions.<br></p></div>
            </details>
            <details class="kanka-details kanka-card " open="">
                <summary class="kanka-card-header">Religion</summary>
                <div class="kanka-card-content"><p>Les cultes du&nbsp;<a class="entity-link content-link"
                                                                         draggable="true" data-type="JournalEntry"
                                                                         data-entity="JournalEntry"
                                                                         data-id="qV8lWKRZxcSfUzu9"><i
                        class="fas fa-book-open"></i> Panthéon Aranéen</a>&nbsp;sont très largement représenté dans la
                    cité, mais la liberté de culte permet à tout individus de prier le dieu de son choix. Une politique
                    religieuse qui permet librement au&nbsp;<a class="entity-link content-link" draggable="true"
                                                               data-type="JournalEntry" data-entity="JournalEntry"
                                                               data-id="zEZZXCokmMHfgD3U"><i
                            class="fas fa-book-open"></i> Templiers Blanc</a>&nbsp;de célébrer leur foi pour&nbsp;<a
                            class="entity-link content-link" draggable="true" data-type="JournalEntry"
                            data-entity="JournalEntry" data-id="mjcCGEwj1yxaY3y4"><i class="fas fa-book-open"></i>
                        l'Unique</a>, un dieu dont le dogme xénophobe va bien souvent à l'encontre des liberté des
                    citoyens elfes de la ville.<br></p></div>
            </details>
        </div>
        <div class="tab -scrollable" data-tab="attributes" data-group="primary-tabs">
            <div class="image-column">
                <img src="https://images.kanka.io/user/Ts1cPi94q90-Lbh7oq4dBHBPa54=/smart/src/locations%2F5WZ4sFuCph8vmgZ8vB9c4v9LuPIibbnTxoSfIWUl.png"
                     alt="">
            </div>

            <dl class="kanka-grid">

                <dt class="">Culture</dt>
                <dd><a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                       data-entity="JournalEntry" data-id="OImaZy0GG98DOVhH"><i class="fas fa-book-open"></i>
                    Caernate</a></dd>


                <dt class="">Faction</dt>
                <dd><a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                       data-entity="JournalEntry" data-id="8ZHM22oAZuMpuG2v"><i class="fas fa-book-open"></i> Royaume de
                    Firmhora</a></dd>


                <dt class="">Traduction</dt>
                <dd>Légende</dd>


                <dt class="">Race</dt>
                <dd><a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                       data-entity="JournalEntry" data-id="qi73tCmXMqCvTzBl"><i class="fas fa-book-open"></i> Humain</a>,
                    <a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                       data-entity="JournalEntry" data-id="8w7odYHpyvkVm0WW"><i class="fas fa-book-open"></i> Elfe</a>
                </dd>


                <dt class="">Régent</dt>
                <dd><a class="entity-link content-link" draggable="true" data-type="JournalEntry"
                       data-entity="JournalEntry" data-id="IGuC9BOSidjU5f08"><i class="fas fa-book-open"></i> Dèanadair</a>
                </dd>
            </dl>
        </div>
        <div class="tab -scrollable" data-tab="children" data-group="primary-tabs">
            <ul class="kanka-cards">
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="wB8UrCAVR7GUyfhz"><i class="fas fa-book-open"></i> Temple
                        des Six</a></h2>

                    <div class="kanka-card-content">Bâtiment Religieux</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="EDzShA3djtDE7pOt"><i class="fas fa-book-open"></i> Grand
                        Marché</a></h2>

                    <div class="kanka-card-content">Marché</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="CEZbkG6TMF6lOjqX"><i class="fas fa-book-open"></i> Palais
                        royal</a></h2>

                    <div class="kanka-card-content">Bâtiment Administratif</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="BlfnsplHzJSmsw0B"><i class="fas fa-book-open"></i> Caserne</a>
                    </h2>

                    <div class="kanka-card-content">Bâtiment Militaire</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="r0j561CUvwRXqFfR"><i class="fas fa-book-open"></i>
                        Quartier noble</a></h2>

                    <div class="kanka-card-content">Quartier</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="90SfHBpMggwx7pWS"><i class="fas fa-book-open"></i> Chambre
                        du Conseil</a></h2>

                    <div class="kanka-card-content">Bâtiment Administratif</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="dgAgJFavMwZGpmVZ"><i class="fas fa-book-open"></i>
                        Quartier général des Templiers Blancs</a></h2>

                    <div class="kanka-card-content">Bâtiment Administratif</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="h8Z7kS9UPD3WbWzQ"><i class="fas fa-book-open"></i>
                        Capitainerie</a></h2>

                    <div class="kanka-card-content">Bâtiment Administratif</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="jJwuKgkm8GJHL4ic"><i class="fas fa-book-open"></i> Le
                        Ceann Sleagh</a></h2>

                    <div class="kanka-card-content">Navire</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="pODMFFSzBlOmvdiA"><i class="fas fa-book-open"></i>
                        Bas-quartiers</a></h2>

                    <div class="kanka-card-content">Quartier</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="giQa88Mj3JFae8F1"><i class="fas fa-book-open"></i> Geata
                        Daonna</a></h2>

                    <div class="kanka-card-content">Accès</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="oesaKgCHYaljFNF6"><i class="fas fa-book-open"></i> Gaeta
                        Elven</a></h2>

                    <div class="kanka-card-content">Accès</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="M5POrMWyiG7EhNTQ"><i class="fas fa-book-open"></i>
                        Merveilles de Zim-zam</a></h2>

                    <div class="kanka-card-content">Bâtiment Commercial</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="V6QDdZM6tEai0BUK"><i class="fas fa-book-open"></i> L'Elfe
                        bourré</a></h2>

                    <div class="kanka-card-content">Taverne</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="vw6di4vf1uRIVXS6"><i class="fas fa-book-open"></i> Maison
                        des Dames</a></h2>

                    <div class="kanka-card-content">Bordel</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="IOJSFz93NG1tinnV"><i class="fas fa-book-open"></i> Ancien
                        Phare</a></h2>

                    <div class="kanka-card-content">Bâtiment</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="94kG4NULZTWMk08l"><i class="fas fa-book-open"></i> Armes
                        de Légende</a></h2>

                    <div class="kanka-card-content">Bâtiment Commercial</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="POWycwKwSRT2Xg5p"><i class="fas fa-book-open"></i> La
                        Brasserie du Roi</a></h2>

                    <div class="kanka-card-content">Taverne</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="47tSRCPgpl6Kcj5x"><i class="fas fa-book-open"></i> Hôtel
                        du Brenn</a></h2>

                    <div class="kanka-card-content">Auberge</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="tsyGNy2ZsXyASsof"><i class="fas fa-book-open"></i> Temple
                        de l'Unique</a></h2>

                    <div class="kanka-card-content">Bâtiment Religieux</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="cLrljenOV7MQFCAX"><i class="fas fa-book-open"></i> Potions
                        et Baumes de Falastur</a></h2>

                    <div class="kanka-card-content">Bâtiment Commercial</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="dWEVTlPLZBt5D3un"><i class="fas fa-book-open"></i> Sommeil
                        de la Vouivre</a></h2>

                    <div class="kanka-card-content">Auberge</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="6pV6L3OAaJFTASrj"><i class="fas fa-book-open"></i> Porte
                        des Bas-quartiers</a></h2>

                    <div class="kanka-card-content">Accès</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="VlOiHYZPrUs8sahc"><i class="fas fa-book-open"></i> Porte
                        des Quais</a></h2>

                    <div class="kanka-card-content">Accès</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="3SBvnZRLYZxDcybZ"><i class="fas fa-book-open"></i> Guilde
                        des Hobereaux</a></h2>

                    <div class="kanka-card-content">Bâtiment Secret</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="fgN4494QtVbftJ4O"><i class="fas fa-book-open"></i> Le Pot
                        du Voyageur</a></h2>

                    <div class="kanka-card-content">Taverne</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="COvCSeobWIvlXdkp"><i class="fas fa-book-open"></i> Chez
                        Dubhghall</a></h2>

                    <div class="kanka-card-content">Taverne</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="Y5Oh0W474IuDq8jc"><i class="fas fa-book-open"></i> Les
                        Folies du bon vivant</a></h2>

                    <div class="kanka-card-content">Taverne</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="AHalSuZQjfo4ivbI"><i class="fas fa-book-open"></i> Vers
                        les fiefs humains</a></h2>

                    <div class="kanka-card-content">Route</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="1HHxOB58drUon76z"><i class="fas fa-book-open"></i> Vers
                        les fiefs elfiques</a></h2>

                    <div class="kanka-card-content">Route</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="JkyPw8rBeiba9Ong"><i class="fas fa-book-open"></i> Ecuries
                        royale</a></h2>

                    <div class="kanka-card-content">Bâtiment Militaire</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="7rM6VTHmRQWytH2N"><i class="fas fa-book-open"></i> Auberge
                        des Elleran</a></h2>

                    <div class="kanka-card-content">Auberge</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="p2IFKZVkGw2actBI"><i class="fas fa-book-open"></i>
                        Armurerie Torcall</a></h2>

                    <div class="kanka-card-content">Bâtiment Commercial</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="QhL1iNKCnKHL4FDz"><i class="fas fa-book-open"></i>
                        Sanctuaire de la Cabale</a></h2>

                    <div class="kanka-card-content">Bâtiment Secret</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="zQmQqC0PlMSocxOd"><i class="fas fa-book-open"></i> Doras
                        Glas</a></h2>

                    <div class="kanka-card-content">Hameau</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="b0qa0bWLXhTpXwm8"><i class="fas fa-book-open"></i> Poste
                        de Garde</a></h2>

                    <div class="kanka-card-content">Bâtiment Militaire</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="hmevbln9Q0SVYfvJ"><i class="fas fa-book-open"></i> Ker
                        Randorec</a></h2>

                    <div class="kanka-card-content">Bâtiment Commercial</div>
                </li>
                <li class="kanka-card ">
                    <div class="kanka-avatar">
                    </div>

                    <h2 class="kanka-card-header"><a class="entity-link content-link" draggable="true"
                                                     data-type="JournalEntry" data-entity="JournalEntry"
                                                     data-id="3cbuXcYO5HYP0MpB"><i class="fas fa-book-open"></i> Le
                        Diamant Pourpre</a></h2>

                    <div class="kanka-card-content">Bâtiment Commercial</div>
                </li>
            </ul>
        </div>
        <div class="tab -scrollable" data-tab="relations" data-group="primary-tabs">
            <ul class="kanka-cards">
            </ul>
        </div>
        <div class="tab -scrollable" data-tab="inventory" data-group="primary-tabs">
            <ul class="kanka-cards">
            </ul>
        </div>
        <div class="tab -scrollable" data-tab="entity-abilities" data-group="primary-tabs">
            <ul class="kanka-cards">
            </ul>
        </div>
        <div class="tab -scrollable" data-tab="entity-files" data-group="primary-tabs">
            <div class="kanka-gallery">
            </div>
        </div>

    </section>
</form>