<section class="scroll-auto">
    {{> "systems/pl1e/templates/item/components/item-list.hbs" section=masters title="PL1E.Masters"}}
    {{> "systems/pl1e/templates/item/components/item-list.hbs" section=abilities title="PL1E.Abilities"}}
    {{> "systems/pl1e/templates/item/components/item-list.hbs" section=features title="PL1E.Features"}}
    {{> "systems/pl1e/templates/item/components/item-list.hbs" section=weapons title="PL1E.Weapons"}}
    {{> "systems/pl1e/templates/item/components/item-list.hbs" section=wearables title="PL1E.Wearables"}}
    {{> "systems/pl1e/templates/item/components/item-list.hbs" section=modules title="PL1E.Modules"}}
    {{> "systems/pl1e/templates/item/components/item-list.hbs" section=unknowns title="PL1E.Unknowns"}}
</section>