.sheet-body {
  overflow: hidden;
  background-color: $colorBackground;
  border: 1px solid $colorBorder;
  border-top-color: transparent;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tab.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-container {
  height: 100%;
}