&.chat-card {
  font-style: normal;
  font-size: 12px;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    justify-content: center;
    align-items: center;

    img {
      flex: 0;
      width: 50px;
      height: 50px;
      transition: .3s ease;
      cursor: pointer;
      background: black;
      background-clip: content-box;
      background-origin: content-box;

      &:hover {
        filter: brightness(1.2);
      }

    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;

      &:hover {
        color: #111;
        text-shadow: 0 0 10px red;
      }
    }

    .item-effects-character {
      display: flex;
      justify-content: space-evenly;
      padding: 0 5px;
      align-items: center;

      i {
        padding: 0 5px;
      }
    }
  }

  .card-content {
    .item-effects-target {
      margin-top: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      ul {
        margin: 0;
        padding-left: 20px;
      }

      li {
        line-height: 20px;
        padding: 2px 5px;
      }

      i {
        padding: 0 5px;
      }
    }

    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }

    > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

  .card-buttons {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 2px groove #FFF;
  }
}