&.dm-tool {
  position: absolute;
  bottom: 5px !important;
  right: 310px !important;
  z-index: 100;
  width: 220px;

  &.left-panel-hidden {
    right: 5px !important;
  }
}

&.roll-config {
  position: absolute;
  bottom: 5px !important;
  right: 10px !important;
  z-index: 100;
  width: 300px;
}