.pl1e {
  .window-content {
    overflow-y: hidden;
    padding: 5px;

    form {
      height: 100%;
    }
  }

  hr {
    border: 1px solid $colorTan;
    height: 1px;
    background-color: #ccc;
    margin: 5px 0;
  }

  .form-group {
    display: flex;
    margin: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;

    a {
      display: flex;
      justify-content: center;
    }
  }

  .form-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
  }

  //.tab {
  //  overflow: hidden;
  //  height: 100%;
  //}

  .scroll-hidden {
    overflow-y: hidden;
  }

  .scroll-auto {
    overflow-y: auto;
    padding-right: 5px;
  }

  .sheet-body,
  .sheet-body .tab,
  .sheet-body .tab .editor {
    height: 100%;
  }

  .fa {
    line-height: normal;
  }
}