.window-content {
  background: rgba(0, 0, 0, 0.3);
}

.character-sheet,
.merchant-sheet,
.item-sheet,
.rest-form {
  display: flex;
  flex-direction: column;
}

&.form.rest,
&.sheet.actor {
  height: 860px;
  width: 800px;
  min-height: 860px;
  min-width: 800px;

  .profile-container {
    flex: 0 0 180px;
  }
}

&.sheet.item {
  height: 500px;
  width: 500px;
  min-height: 500px;
  min-width: 500px;

  .profile-container {
    flex: 0 0 100px;
  }
}