.character-sheet {
  .sheet-header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: normal;
    margin-bottom: 20px;
    color: $colorPrimary;

    .profile-container {
      flex: 0 0 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .profile-wrapper {
        position: relative;
        width: 100%;
        height: auto;

        .profile-actor {
          margin: 0;
          padding: 10px;
          width: 100%;
          height: 100%;
          border: none;
        }

        .profile-frame {
          border: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
        }
      }

      .xp-bar {
        @include incremental-bar($colorPrimaryAlt, $colorSecondaryAlt, $colorXP, $colorPrimaryAlt);
      }
    }

    .header-infos {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 7px;
      margin-right: 10px;

      .info-container {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
        gap: 10px;

        .sheet-name {
          color: $colorPrimary;
          height: 40px;
          font-size: 2em;
          font-weight: bold;
          padding: 10px;
          border: none;
          outline: none;

          &:hover {
            border: 2px solid #ccc;
            border-radius: 5px;
            background-color: $colorPrimaryAlt;
          }
        }
      }

      .resources {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .health-bar {
          @include info-bar($colorPrimaryAlt, $colorSecondaryAlt, $colorHealth, $colorSecondaryAlt, $colorWhite);
        }
        .stamina-bar {
          @include info-bar($colorPrimaryAlt, $colorSecondaryAlt, $colorStamina, $colorSecondaryAlt, $colorWhite);
        }
        .mana-bar {
          @include info-bar($colorPrimaryAlt, $colorSecondaryAlt, $colorMana, $colorSecondaryAlt, $colorWhite);
        }
      }

      .icons-stats {
        display: flex;
        flex: 2;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        .stat-icon {
          font-size: 1.2em;
        }
      }
    }
  }

  nav.sheet-tabs {
    border: none;
    margin: 0;
    justify-content: space-around;

    a {
      flex: 1;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      padding: 10px 15px;
      border: 1px solid $colorFaint;
      border-radius: 5px 5px 0 0;
      background-color: $colorTertiary;

      &.active {
        border-bottom: none;
        background-color: $colorPrimary;
      }
    }
  }
}