.character-sheet {
  .sheet-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: normal;
    margin-bottom: 10px;
    color: $colorWhite;

    .profile-container {
      flex: 0 0 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .level-info {
        height: 20px;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
      }

      .profile-wrapper {
        position: relative;
        width: 100%;
        height: auto;

        .profile-actor {
          margin: 0;
          padding: 10px;
          width: 100%;
          height: 100%;
          border: none;
        }

        .profile-frame {
          border: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
        }
      }

      .xp-container {
        position: relative;
        width: 100%;
        height: 20px;

        .xp-bar {
          margin: 0 auto;
          width: 80%;
          height: 100%;
          background-color: #8b0000;
          border-radius: 20px;
          position: relative;

          .xp-fill {
            height: 100%;
            background-color: #4caf50;
            width: 50%;
            border-radius: 20px;
            transition: width 0.3s ease;
          }
        }

        .xp-modifiers {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          transform: translateY(-50%);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          button {
            width: 30px;
            height: 30px;
            background-color: #ddd;
            border: none;
            border-radius: 50%;
            font-size: 1.2em;
            cursor: pointer;
            align-items: center;
            justify-content: center;
          }

          .xp-input {
            width: 60px;
            height: 20px;
            background: transparent;
            border: none;
            text-align: center;
            color: #fff;
            pointer-events: none;
          }
        }
      }
    }

    .header-infos {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 7px;

      .sheet-name {
        height: 40px;
        font-size: 2em;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 5px;
        border: 2px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;
      }

      .stats-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .resource {
          display: flex;
          align-items: center;
          gap: 10px;

          .resource-name {
            width: 100px;
            font-size: larger;
            text-align: right;
          }

          input {
            width: 50px;
            text-align: center;
            padding: 0.25em;
          }

          .stat-bar {
            flex: 1;
            height: 20px;
            background-color: #e0e0e0;
            border-radius: 10px;
            overflow: hidden;
            position: relative;

            .stat-fill {
              height: 100%;
              background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
              background-size: 50px 50px;
              border-radius: 10px 0 0 10px;
              transition: width 0.5s ease-in-out;
              animation: liquid 5s linear infinite;

              &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(255, 255, 255, 0.3);
                pointer-events: none;
                border-radius: inherit;
              }

              &.health {
                background-color: $colorHealth;
              }

              &.stamina {
                background-color: $colorStamina;
              }

              &.mana {
                background-color: $colorMana;
              }
            }
          }
        }
      }

      .widgets-container {
        display: flex;
        align-items: center;
        gap: 10px;

        .advantage {
          display: flex;
          align-items: center;
          gap: 5px;

          button {
            width: 30px;
            height: 30px;
            background-color: #7a7971;
            border: none;
            border-radius: 50%;
            font-size: 1.2em;
            cursor: pointer;
          }

          input {
            width: 50px;
            text-align: center;
          }
        }

        .rest-button {
          width: 32px;
          height: 32px;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .icons-stats {
          display: flex;
          gap: 5px;

          .stat-icon {
            font-size: 1.2em;
          }
        }
      }
    }
  }

  nav.sheet-tabs {
    border: none;
    margin: 0;
    justify-content: space-around;

    a {
      flex: 1;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      padding: 10px 15px;
      border: 1px solid $colorFaint;
      border-radius: 5px 5px 0 0;
      background-color: $colorTertiary;

      &.active {
        border-bottom: none;
        background-color: white;
      }
    }
  }
}