.character-sheet {
  .profile-container {
    flex: 0 0 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}

.item-sheet {
  .profile-container {
    flex: 0 0 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}

.sheet-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: normal;
  margin-bottom: 25px;
  color: $colorText;

  .profile-wrapper {
    position: relative;
    height: auto;

    .profile-img {
      margin: 0;
      padding: 10px;
      width: 100%;
      height: 100%;
      border: none;
    }

    .profile-frame {
      border: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .profile-level {
      display: flex;
      background-color: $colorPanelNegative;
      border: $colorBorderNegative solid 2px;
      border-radius: 20px;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 40px;
      pointer-events: none;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      padding-bottom: 10px;
      font-size: $font-size-lg;
    }
  }

  .xp-bar {
    @include incremental-bar($colorPanelNegative, $colorBorderNegative, $colorXP, $colorPanelNegative);
  }

  .header-infos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-right: 15px;
    height: 100%;

    .info-container {
      display: flex;
      flex-direction: row;
      flex: 0;
      align-items: center;
      gap: 10px;

      .sheet-name {
        color: $colorText;
        height: 40px;
        font-size: $font-size-xlg;
        font-weight: bold;
        padding: 10px;
        border: none;
        outline: none;

        &:hover {
          border: 2px solid #ccc;
          border-radius: 5px;
          background-color: $colorBackgroundNegative;
        }
      }
    }

    .resources {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: $font-size-sm;
      text-transform: uppercase;

      .health-bar {
        @include info-bar($colorPanelNegative, $colorBorderNegative, $colorHealth, $colorBackgroundNegative, $colorWhite);
      }
      .stamina-bar {
        @include info-bar($colorPanelNegative, $colorBorderNegative, $colorStamina, $colorBackgroundNegative, $colorWhite);
      }
      .mana-bar {
        @include info-bar($colorPanelNegative, $colorBorderNegative, $colorMana, $colorBackgroundNegative, $colorWhite);
      }
    }

    .icons-stats {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 10px;
      gap: 8px;
      font-size: $font-size-md;

      .stat-icon {
        font-size: 1.2em;
      }
    }
  }
}

nav.sheet-tabs {
  border: none;
  margin: 0;
  justify-content: space-around;

  a {
    flex: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-md;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid $colorBorder;
    border-radius: 0; // Reset the border-radius for all tabs
    background-color: $colorPanel;

    &.active {
      border-bottom-color: transparent;
      background-color: $colorBackground;
    }

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
  }
}