.journal-page-content {
  .journal-table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      padding: 0 10px;
    }
  }

  .drop-target {
    min-height: 75px;
    border: 2px dashed transparent;
    transition: border 0.2s ease;
  }

  .drop-target.drop-ready {
    border-color: grey;
  }
}