&.window-app {
  font-family: $font-primary;
}

&.sheet.actor {
  min-width: 700px;
  min-height: 710px;

  .profile {
    width: 120px;
    height: auto;
  }
}

&.sheet.item {
  min-width: 500px;
  min-height: 500px;

  .profile {
    width: auto;
    height: 100px;
  }

}