&.sheet.actor {
  min-height: 840px;
  min-width: 700px;

  .window-content {
    background: rgba(0, 0, 0, 0.3);
  }

  .character-sheet {
    display: flex;
    flex-direction: column;
  }
}

&.sheet.item {
  min-height: 500px;
  min-width: 500px;

  .window-content {
    background: rgba(0, 0, 0, 0.3);
  }

  .item-sheet {
    display: flex;
    flex-direction: column;
  }
}