.sheet-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: normal;
  margin: 5px 5px 20px 5px;
  color: $color-text-negative;
  height: max-content;

  .profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;

    .profile-wrapper {
      position: relative;

      .profile-img {
        display: block;
        width: 100%;
        padding: 10px;
        height: auto;
        border: 0;
        background: black;
        background-clip: content-box;
        background-origin: content-box;
      }

      .profile-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        pointer-events: none;
      }

      .profile-level {
        display: flex;
        background-color: $color-panel-negative;
        border: $color-border-negative solid 2px;
        border-radius: 20px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        pointer-events: none;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        padding-bottom: 10px;
        font-size: $font-size-md;
      }
    }

    .xp-bar {
      @include incremental-bar($color-panel-negative, $color-border-negative, $color-xp, $color-panel-negative);

    }
  }

  .header-infos {
    flex: 1;
    height: 100%;

    .sheet-name {
      height: 40px;
      font-size: $font-size-lg;
      text-overflow: ellipsis;
      font-weight: bold;
      border: none;
      outline: none;

      &:not(:disabled):hover,
      &:not(:disabled):active {
        border: 2px solid $color-border-negative;
      }
    }

    .resources {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: $font-size-xsm;
      text-transform: uppercase;

      .health-bar,
      .stamina-bar,
      .mana-bar {
        @include input-bar($color-panel-negative, $color-border-negative, $color-health, $color-background-negative, $color-white);
      }

      .stamina-bar {
        @include input-bar($color-panel-negative, $color-border-negative, $color-stamina, $color-background-negative, $color-white);
      }

      .mana-bar {
        @include input-bar($color-panel-negative, $color-border-negative, $color-mana, $color-background-negative, $color-white);
      }
    }

    .sell-bar {
      height: 40px;
      @include input-bar($color-panel-negative, $color-border-negative, green, $color-background-negative, $color-white);
    }

    .buy-bar {
      height: 40px;
      @include input-bar($color-panel-negative, $color-border-negative, red, $color-background-negative, $color-white);
    }
  }
}

.sheet-body {
  overflow: hidden;
  background: url("/ui/parchment.jpg") repeat;
  border: 1px solid $color-border;
  border-top-color: transparent;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.modal-body {
  overflow: hidden;
  background-color: $color-background;
  border-radius: 10px;
  padding: 10px;
}

.modal-body,
.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}