.sheet.actor {
  min-width: 820px;
  min-height: 940px;

  .characteristics {
    padding: 0 0.5em 0 0.5em;

    .characteristic {
      margin: 0 0 1em 0;

      .characteristic-label {}

      .characteristic-content {}
    }
  }

  .skills {
    padding: 0 1em 0 1em;
    margin: 0 0 0 0;

    .skill {}
  }

  .attributes {
    padding: 0 0.5em 0 0.5em;
  }

}