.characteristics {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  border-radius: 8px;
  background-color: $color-panel-accent;
  //border: 1px solid $color-border;
  align-items: center;
  color: $color-text;

  .group-icon {
    width: 40px;
    height: 40px;
    margin: 5px;
    color: $color-text;
    background-color: $color-panel-accent;
    padding: 0 10px;
    border-radius: 50%;
    z-index: 1;
    border: 1px solid $color-border;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-md;
  }

  .characteristic {
    text-align: center;
    flex: 1;

    input[type="number"] {
      width: 40px;
      text-align: center;
      font-weight: bold;
      font-size: $font-size-lg;
      border: none;
      background-color: transparent;
    }

    input[type="number"]:hover,
    input[type="number"]:focus {
      border: 2px solid $color-border;
      background-color: $color-background;
      border-radius: 5px;
    }

    .mod {
      font-weight: bold;
      font-size: $font-size-sm;
    }
  }
}
