.pl1e {
  .characteristics {
    flex: 0 0 50px;

    .characteristic {
      padding: 0 0 10px;

      .characteristic-label {
        cursor: pointer;
        text-align: left;
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }

      .characteristic-values {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input-spin {
          position: relative;

          input[type="number"] {
            width: 40px;
            padding: 0.2em;
            text-align: center;
          }

          span {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);

            i {
              cursor: pointer;
              transition: color 0.3s;
              font-size: 1.2em;
            }
          }
        }

        .characteristic-mod {
          margin-left: 1em;
          font-weight: bold;
          font-size: 1.2em;
        }
      }
    }
  }
}
