.descriptor-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: $colorBorder solid 1px;

  .descriptor-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-size: $font-size-sm;
    background: linear-gradient(to right, $colorPanelAccent , $colorPanel);
    border-bottom: 1px solid $colorBorder;
    color: $colorText;
    padding: 5px 10px;
  }

  .descriptor-column {
    display: flex;
    flex-direction: column;

    .descriptor {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dashed $colorBorder;
      font-size: $font-size-xsm;
      padding: $spacing-sm $spacing-md;
      height: 32px;

      &:last-child {
        border-bottom: none;
      }

      .descriptor-label {
        font-weight: bold;
        flex: 1;
      }

      .descriptor-value {
        text-align: right;
        flex: 1;
      }
    }
  }
}
