.pl1e {
  &.dm-tool {
    position: absolute;
    bottom: 5px !important;
    right: 310px !important;
    z-index: 100;
    min-width: 150px;

    .resources {
      padding: 10px;

      .resource {
        .form-fields {
          display: flex;
          align-items: center;
          justify-content: space-between;

          label {
            flex: 1;
            margin-right: 10px;
          }

          .item,
          .input {
            flex: 0 0 30px;
            text-align: center;
          }
        }

        .input[type="number"] {
          font-size: 16px;
          width: 50px;
          text-align: center;
        }

        .item {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          i {
            font-size: 14px;
          }
        }
      }
    }

    .actions {
      border-top: 2px groove #FFF;
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 10px;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
        i {
          font-size: 18px;
        }
      }
    }
  }
}
