.pl1e.gm-toolbox {
  form {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; // Adjust the gap between buttons as needed
    padding: 0;
    margin: 0;

    .gm-tools-container {
      width: fit-content;
      height: fit-content;
      display: flex;
      gap: 10px; // Adjust the gap between buttons as needed
      margin: 5px;
      padding: 1px;

      li {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 30px;
        }

        strong {
          width: 30px;
          text-align: center;
          font-size: 30px;
        }
      }
    }
  }
}