.icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4px 0;

  .icon-group {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    > .icon {
      gap: 4px;
      display: inline-flex;
      padding: 4px;
      background: $color-panel-info;
      border-radius: 0;
      line-height: 14px;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-sm;
        opacity: 0.85;
      }

      label {
        font-size: $font-size-sm;
      }
    }

    //> .icon:first-child {
    //  border-top-left-radius: 4px;
    //  border-bottom-left-radius: 4px;
    //}
    //
    //> .icon:last-child {
    //  border-top-right-radius: 4px;
    //  border-bottom-right-radius: 4px;
    //}
    //
    //> .icon:only-child {
    //  border-radius: 4px;
    //}
  }

  .icon-group:not(:has(i)) {
    display: none;
  }
}