.pl1e {
  .items-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    .items-header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .header-title {
        flex: 1;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-filter-list {
          display: flex;
          gap: 10px;

          .item-filter {
            padding: 5px 10px;

            &:hover {
              text-shadow: 0 0 10px $colorAction;
              cursor: pointer;
            }

            &.active {
              text-shadow: 0 0 10px $colorAction;
            }
          }
        }
      }
    }

    .item {
      display: flex;
      flex-direction: column;

      &.disabled {
        opacity: 0.5;
      }

      .item-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .item-title {
          display: flex;
          align-items: center;
          min-width: 200px;

          img {
            width: 32px;
            height: auto;
            margin-right: 10px;
          }
        }

        .item-icons {
          display: flex;
          align-items: center;
          justify-content: start;
          flex: 1;
          gap: 10px;

          i {
            display: flex;
            align-items: center;
            justify-content: center;

            label {
              margin-left: 5px;
            }
          }
        }

        .item-controls {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
          padding: 0 5px;
          margin-left: auto;

          a, i {
            cursor: pointer;

            &:hover {
              color: #007bff;
            }
          }
        }
      }

      .item-tooltip {
        background-color: #f9f9f9;
      }
    }
  }
}
