.list-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: $color-border solid 1px;

  .list-column {
    display: flex;
    flex-direction: column;
    font-size: $font-size-xsm;
    margin-bottom: 6px;

    .field {
      display: flex;
      flex-direction: column;
      padding: 5px 10px 0 10px;

      &.dashed {
        &:not(:last-child) {
          border-bottom: $color-border dashed 1px;
        }
      }

      .field-content {
        flex: 0 0 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .title {
          gap: 5px;
          flex: 0 0 200px;
          display: flex;
          align-items: center;

          label {
            font-weight: bold;
            align-items: center;
            text-align: left;
          }

          a {
            margin-left: 10px;
            width: 15px;
            height: 15px;

            i {
              align-content: center;
              text-align: center;
              font-size: $font-size-sm;
              width: 100%;
              height: 100%;
            }
          }
        }

        .fields {
          display: flex;
          flex: 1;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;
          margin-right: 10px;

          input[type="checkbox"] {
            flex: unset;
          }

          input[type="checkbox"],
          input[type="number"],
          button {
            font-size: inherit;
            text-align: center;
            vertical-align: middle;
          }

          button {
            background-color: $color-panel;
            border: 1px solid $color-border;
            cursor: pointer;

            &:hover {
              background-color: lighten($color-panel, 10%);
            }
          }

          input[type="number"] {
            text-align: center;
          }

          label {
            text-align: end;
          }
        }
      }

      .field-hint {
        font-size: $font-size-xsm;
        margin-left: 15px;
      }

      .field-tooltip {
        text-align: justify;
        background-color: $color-panel;
        display: none;
        padding: 5px 10px;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;

        &.expanded {
          display: block;
          border-top: 1px solid $color-border;
          border-bottom: 1px solid $color-border;
        }
      }
    }
  }
}