.options input {
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.color-gold {
  color: #c7a700;
}

.color-silver {
  color: #9f9f9f;
}

.color-copper {
  color: #af5134;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.color-black {
  color: black;
}

.pointer {
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.hover-red {
  &:hover,
  &:focus {
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.hover-green {
  &:hover,
  &:focus {
    text-shadow: 0 0 10px green;
  }
}

.highlight-green {
  text-shadow: 0 0 10px green;
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.box {
  border: $borderGroove;
  padding: 5px;
}

.tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.input-spin {
  display: flex;
  font-size: 0.85rem;
  span {
    line-height: 13px;
  }
}