nav.sheet-tabs {
  border: none;
  margin: 0;
  justify-content: space-around;

  a {
    flex: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-sm;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid $color-border;
    border-radius: 0;
    background-color: $color-background-accent;

    &.active {
      border-bottom-color: transparent;
      background: url("/ui/parchment.jpg") repeat;
    }

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
  }
}

.tab.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}