.pl1e {
  .resources {
    display: flex;
    flex-direction: column;

    .resource {
      align-items: center;
      margin: 0;

      .resource-label {
        text-transform: uppercase;
        font-weight: bold;
        text-align: right;
      }

      .stat-bar {
        position: relative;
        height: 15px;
        border: 1px solid #000;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ddd;
        margin-right: 10px;

        &.red {
          background-color: #ffdddd;
        }

        &.green {
          background-color: #ddffdd;
        }

        &.blue {
          background-color: #ddddff;
        }

        .stat-fill {
          height: 100%;
          background-color: currentColor;

          &.red {
            color: #ff4444;
          }

          &.green {
            color: #44ff44;
          }

          &.blue {
            color: #4444ff;
          }
        }
      }
    }
  }
}