.sheet.actor {
  min-width: 700px;
  min-height: 820px;

  .characteristics {
    padding: 0 0.5em 0 0.5em;

    .characteristic {
      margin: 0 0 1em 0;
    }
  }

  .skills {
    padding: 0.5em 1em 0.5em 1em;
    margin: 7px 0 0 0;
    .skill {
      gap: 0;
      margin: 0;
      padding: 3px;
      .skill-label {
        font-size: small;
      }
    }
  }

  .attributes {
    padding: 0 0.5em 0 0.5em;
    .attribute {
      margin: 0;
      align-items: center;
      label {
        font-size: x-small;
        font-weight: bolder;
      }
    }
  }

  .currency {
    align-items: center;
  }

}

.sheet.item {
  min-width: 500px;
  min-height: 500px;
}