.sheet.actor {
  min-width: 850px;
  min-height: 980px;

  .characteristics {
    padding: 0 0.5em 0 0.5em;

    .characteristic {
      margin: 0 0 1em 0;
    }
  }

  .skills {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0 0 0 0;
  }

  .attributes {
    padding: 0 0.5em 0 0.5em;
  }

}

.sheet.item {
  min-width: 500px;
  min-height: 500px;
}