.skills {
  min-width: 200px;
  margin: 0;
  padding: 0;

  .skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-sm;
    gap: 5px;
    padding: 0 5px;
    height: 19px;

    &:nth-child(even) {
      background-color: $colorPanel;
    }

    &:nth-child(odd) {
      background-color: darken($colorPanel, 10%);
    }

    .skill-roll {
      flex: 0 0 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .skill-number {
        font-weight: bold;
        font-size: $font-size-md;
      }
    }

    .skill-label {
      flex: 1;
      text-transform: lowercase;
    }

    .skill-rank {
      flex: 0;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

