.pl1e {
  .success-color-0 {
    background: lightblue !important;
  }

  .success-color-1 {
    background: yellowgreen !important;
  }

  .success-color-2 {
    background: yellow !important;
  }

  .success-color-3 {
    background: orange !important;
  }

  .success-color-4 {
    background: orangered !important;
  }

  .success-color-5 {
    background: red !important;
  }
}