.color-dark {
  color: $color-dark;
}

.color-faint {
  color: $color-faint;
}

.color-beige {
  color: $color-beige;
}

.color-tan {
  color: $color-tan;
}

.color-olive {
  color: $color-olive;
}

.color-crimson {
  color: $color-crimson;
}

.color-health {
  color: $color-health;
}

.color-stamina {
  color: $color-stamina;
}

.color-mana {
  color: $color-mana;
}

.color-silver {
  color: $color-silver;
}

.color-gold {
  color: $color-gold;
}

.color-copper {
  color: $color-copper;
}

.color-warning {
  color: $color-warning;
}

.color-grey {
  color: $color-grey
}

.color-black {
  color: black;
}

.color-disabled {
  color: $color-disabled !important;
}

.color-malus {
  color: $color-malus !important;
}

.color-bonus {
  color: $color-bonus !important;
}

.hover-action {
  &:hover,
  &:focus {
    text-shadow: 0 0 10px $color-action !important;
    cursor: pointer;
  }
}

.enabled-action {
  &:enabled {
    color: $color-action !important;
  }
}

.hover-info {
  &:hover,
  &:focus {
    text-shadow: 0 0 10px $color-info !important;
    cursor: help;
  }
}

.highlight-info {
  transition: text-shadow 0.5s ease;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 5px $color-info, 0 0 10px $color-info, 0 0 15px $color-info;
  }
  50% {
    text-shadow: 0 0 10px lighten($color-info, 20%), 0 0 20px lighten($color-info, 20%), 0 0 30px lighten($color-info, 20%);
  }
  100% {
    text-shadow: 0 0 5px $color-info, 0 0 10px $color-info, 0 0 15px $color-info;
  }
}

.background-ready {
  background-color: $color-ready !important;
}

.background-unavailable {
  background-color: $color-unavailable !important;
}