body {
  font-family: $font-primary;
}

form {
  height: 100%;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em 1em 0.5em 1em;
  background-color: $color-white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1em 0 0 0;
  position: relative;

  legend {
    font-weight: bold;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: absolute;
    top: -0.8em;
    left: 1em;
  }
}

p {
  //line-height: 1.4;
}

hr {
  border: 1px solid $color-tan;
  height: 1px;
  background-color: #ccc;
  margin: 5px 0;
}

a {
  text-shadow: none;
}

button {
  background-color: $color-panel;
  color: $color-text;
  font-size: $font-size-sm;
  padding: $spacing-sm $spacing-md;
  border: 1px solid $color-border;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover,
  &:active {
    background-color: $color-panel-accent;
  }

  &:disabled {
    background-color: $color-disabled;
    cursor: not-allowed;
  }
}

input {
  background-color: $color-panel;
  color: $color-text;
  font-size: $font-size-sm;
  padding: $spacing-sm $spacing-md;
  border: 1px solid $color-border;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:not(:disabled):hover,
  &:active {
    background-color: $color-background;
  }
}

select {
  flex: 1;
  background-color: $color-panel;
  color: $color-text;
  border: 1px solid $color-border;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:not(:disabled):hover,
  &:active {
    background-color: $color-background;
  }

  &:disabled {
    background-color: $color-disabled;
    cursor: not-allowed;
  }
}

.color-negative {
  select {
    background-color: transparent;
    color: $color-text-negative;
    border: 2px solid $color-border-negative;

    &:not(:disabled):hover,
    &:active {
      background-color: $color-background-negative;
    }
  }

  input {
    background-color: transparent;
    color: $color-text-negative;
    border: 2px solid $color-border-negative;

    &:hover,
    &:active {
      background-color: $color-background-negative;
    }
  }

  input[disabled] {
    user-select: none;
    pointer-events: none;
    background-color: transparent;
    color: inherit;
    border: none;
  }
}