.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.underline {
  margin-bottom: 10px;
  border-bottom: 1px solid $colorCrimson;
}