{{> "systems/pl1e/templates/item/components/icons-price.hbs"}}

<div class="icon-group">
    {{#if system.majorActionUsed}}
        <div class="icon">
            <i class="far fa-star hover-info" data-tooltip='{{localize "PL1E.MajorActionUsed"}}'></i>
        </div>
    {{/if}}
</div>

{{> "systems/pl1e/templates/item/components/icons-passive-aspects.hbs"}}