{{#each sections}}
    <a class="content-link" draggable="true" data-uuid="{{this.item.uuid}}" data-id="{{this.item.id}}"
       data-type="Item" data-pack="{{this.item.pack}}" data-tooltip="Item">
        <i class="fas fa-suitcase"></i><label>{{this.item.name}}</label>
    </a>
{{/each}}