<form class="pl1e gm-toolbox" autocomplete="off">
    <ul class="gm-tools-container">
        <li class="toolbox-reset-resources" data-tooltip="{{localize "PL1E.ResetResources"}}">
            <i class="fa fa-person-rays"></i>
        </li>
        <li class="toolbox-sleep" data-tooltip="{{localize "PL1E.Sleep"}}">
            <i class="fa fa-bed"></i>
        </li>
        <li class="toolbox-advantages" data-tooltip="{{localize "PL1E.Advantages"}}">
            <i class="fa fa-cube"></i>
            <strong>{{object.advantages}}</strong>
        </li>
    </ul>
</form>