<form class="rest-manager flex-horizontal scroll-auto-group" autocomplete="off">
    <!-- Training Panel -->
    <div class="flex-vertical flex-shrink">
        <h3>{{localize "PL1E.Training"}}</h3>
        {{> "systems/pl1e/templates/actor/parts/stats-skills.hbs"}}
    </div>
    
    <!-- Camping Panel -->
    <div class="flex-vertical flex-large">
        <div class="flex-vertical">
            <h3>{{localize "PL1E.Environment"}}</h3>
            <div class="toggle-group">
                <div class="toggle-item" data-value="1">
                    <img src="systems/pl1e/assets/rest/exteriorHostile.jpg" alt="Hostile" />
                </div>
                <div class="toggle-item" data-value="2">
                    <img src="systems/pl1e/assets/rest/exteriorCalm.jpg" alt="Nature" />
                </div>
                <div class="toggle-item" data-value="3">
                    <img src="systems/pl1e/assets/rest/interiorPoor.jpg" alt="Poor Bed" />
                </div>
                <div class="toggle-item" data-value="4">
                    <img src="systems/pl1e/assets/rest/interiorStandard.jpg" alt="Standard Bed" />
                </div>
                <div class="toggle-item" data-value="5">
                    <img src="systems/pl1e/assets/rest/interiorLuxurious.jpg" alt="Luxurious Bed" />
                </div>
            </div>
        </div>
        <div class="flex-vertical">
            <h3>{{localize "PL1E.Service"}}</h3>
            <div class="toggle-group scroll-auto">
                <div class="toggle-item" data-value="1">
                    <img src="systems/pl1e/assets/rest/mealNothing.jpg" alt="Hostile" />
                </div>
                <div class="toggle-item" data-value="2">
                    <img src="systems/pl1e/assets/rest/mealFrugal.jpg" alt="Nature" />
                </div>
                <div class="toggle-item" data-value="3">
                    <img src="systems/pl1e/assets/rest/mealNormal.jpg" alt="Poor Bed" />
                </div>
                <div class="toggle-item" data-value="4">
                    <img src="systems/pl1e/assets/rest/mealGood.jpg" alt="Standard Bed" />
                </div>
            </div>
        </div>
    </div>
</form>
