<form class="rest-manager {{cssClass}}" autocomplete="off">
    <!-- Training Panel -->
    <div class="training-container">
        <h3>{{localize "PL1E.Training"}}</h3>
        {{> "systems/pl1e/templates/actor/parts/stats-skills.hbs"}}
    </div>
    
    <!-- Camping Panel -->
    <div class="camping-container">
        <h3>{{localize "PL1E.Campement"}}</h3>
        <div class="camping-context">
            <img src="systems/pl1e/assets/camp/hostile.jpg">
            <img src="systems/pl1e/assets/camp/nature.jpg">
            <img src="systems/pl1e/assets/camp/poorBed.jpg">
            <img src="systems/pl1e/assets/camp/standardBed.jpg">
            <img src="systems/pl1e/assets/camp/luxuriousBed.jpg">
        </div>
    </div>
</form>
